.container {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: unset
}

.counter {
    float: right;
}

.line {
    background-color: var(--color-indicator-background);
    border-radius: 2px;
    height: 12px
}

.fill {
    height: 100%;
    border-radius: 2px;
}